* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Calibri', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
}

input {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #000000;
  outline: none;
}

button {
  margin-top: 20px;
  padding: 10px;
  background: #ffffff;
  color: #000000;
  border: 2px solid #000000;
  cursor: pointer;
  letter-spacing: 20px;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}

button:hover {
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000000;
  opacity: 1;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000000;
  opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000000;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
  color: #000000;
  opacity: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 0;
}

.logo {
  height: 80px;
  width: 80px;
}

.auth {
  display: flex;
  align-items: center;
}

.link {
  font-size: 16px;
  padding: 10px 15px;
  border: 1px solid #000000;
  color: #000000;
  text-decoration: none;
  margin-right: 15px;
  transition: 0.5s ease-in-out;
}

.link:hover {
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
}

.content {
  height: 89vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
}